/* Style base */


/*margin 0*/

.spacer-xs-0 {
    margin: 0 !important;
}
.spacer-xs-top-0 {
    margin-top: 0 !important;
}
.spacer-xs-bottom-0 {
    margin-bottom: 0 !important;
}
.spacer-xs-left-0 {
    margin-left: 0 !important;
}
.spacer-xs-right-0 {
    margin-right: 0 !important;
}
/*margin 05*/

.spacer-xs-05 {
    margin: 5px !important;
}
.spacer-xs-top-05 {
    margin-top: 5px !important;
}
.spacer-xs-bottom-05 {
    margin-bottom: 5px !important;
}
.spacer-xs-left-05 {
    margin-left: 5px !important;
}
.spacer-xs-right-05 {
    margin-right: 5px !important;
}
/*margin 10*/

.spacer-xs-10 {
    margin: 10px !important;
}
.spacer-xs-top-10 {
    margin-top: 10px !important;
}
.spacer-xs-bottom-10 {
    margin-bottom: 10px !important;
}
.spacer-xs-left-10 {
    margin-left: 10px !important;
}
.spacer-xs-right-10 {
    margin-right: 10px !important;
}
/*margin 15*/

.spacer-xs-15 {
    margin: 15px !important;
}
.spacer-xs-top-15 {
    margin-top: 15px !important;
}
.spacer-xs-bottom-15 {
    margin-bottom: 15px !important;
}
.spacer-xs-left-15 {
    margin-left: 15px !important;
}
.spacer-xs-right-15 {
    margin-right: 15px !important;
}
/*margin 20*/

.spacer-xs-20 {
    margin: 20px !important;
}
.spacer-xs-top-20 {
    margin-top: 20px !important;
}
.spacer-xs-bottom-20 {
    margin-bottom: 20px !important;
}
.spacer-xs-left-20 {
    margin-left: 20px !important;
}
.spacer-xs-right-20 {
    margin-right: 20px !important;
}
/*margin 25*/

.spacer-xs-25 {
    margin: 25px !important;
}
.spacer-xs-top-25 {
    margin-top: 25px !important;
}
.spacer-xs-bottom-25 {
    margin-bottom: 25px !important;
}
.spacer-xs-left-25 {
    margin-left: 25px !important;
}
.spacer-xs-right-25 {
    margin-right: 25px !important;
}
/*margin 30*/

.spacer-xs-30 {
    margin: 30px !important;
}
.spacer-xs-top-30 {
    margin-top: 30px !important;
}
.spacer-xs-bottom-30 {
    margin-bottom: 30px !important;
}
.spacer-xs-left-30 {
    margin-left: 30px !important;
}
.spacer-xs-right-30 {
    margin-right: 30px !important;
}
/*margin 40*/

.spacer-xs-40 {
    margin: 40px !important;
}
.spacer-xs-top-40 {
    margin-top: 40px !important;
}
.spacer-xs-bottom-40 {
    margin-bottom: 40px !important;
}
.spacer-xs-left-40 {
    margin-left: 40px !important;
}
.spacer-xs-right-40 {
    margin-right: 40px !important;
}
/*padding 0*/

.innerspacer-xs-0 {
    padding: 0 !important;
}
.innerspacer-xs-top-0 {
    padding-top: 0 !important;
}
.innerspacer-xs-bottom-0 {
    padding-bottom: 0 !important;
}
.innerspacer-xs-left-0 {
    padding-left: 0 !important;
}
.innerspacer-xs-right-0 {
    padding-right: 0 !important;
}
/*padding 05*/

.innerspacer-xs-05 {
    padding: 5px !important;
}
.innerspacer-xs-top-05 {
    padding-top: 5px !important;
}
.innerspacer-xs-bottom-05 {
    padding-bottom: 5px !important;
}
.innerspacer-xs-left-05 {
    padding-left: 5px !important;
}
.innerspacer-xs-right-05 {
    padding-right: 5px !important;
}
/*padding 10*/

.innerspacer-xs-10 {
    padding: 10px !important;
}
.innerspacer-xs-top-10 {
    padding-top: 10px !important;
}
.innerspacer-xs-bottom-10 {
    padding-bottom: 10px !important;
}
.innerspacer-xs-left-10 {
    padding-left: 10px !important;
}
.innerspacer-xs-right-10 {
    padding-right: 10px !important;
}
/*padding 15*/

.innerspacer-xs-15 {
    padding: 15px !important;
}
.innerspacer-xs-top-15 {
    padding-top: 15px !important;
}
.innerspacer-xs-bottom-15 {
    padding-bottom: 15px !important;
}
.innerspacer-xs-left-15 {
    padding-left: 15px !important;
}
.innerspacer-xs-right-15 {
    padding-right: 15px !important;
}
/*padding 20*/

.innerspacer-xs-20 {
    padding: 20px !important;
}
.innerspacer-xs-top-20 {
    padding-top: 20px !important;
}
.innerspacer-xs-bottom-20 {
    padding-bottom: 20px !important;
}
.innerspacer-xs-left-20 {
    padding-left: 20px !important;
}
.innerspacer-xs-right-20 {
    padding-right: 20px !important;
}
/*padding 25*/

.innerspacer-xs-25 {
    padding: 25px !important;
}
.innerspacer-xs-top-25 {
    padding-top: 25px !important;
}
.innerspacer-xs-bottom-25 {
    padding-bottom: 25px !important;
}
.innerspacer-xs-left-25 {
    padding-left: 25px !important;
}
.innerspacer-xs-right-25 {
    padding-right: 25px !important;
}
/*padding 30*/

.innerspacer-xs-30 {
    padding: 30px !important;
}
.innerspacer-xs-top-30 {
    padding-top: 30px !important;
}
.innerspacer-xs-bottom-30 {
    padding-bottom: 30px !important;
}
.innerspacer-xs-left-30 {
    padding-left: 30px !important;
}
.innerspacer-xs-right-30 {
    padding-right: 30px !important;
}
/*padding 40*/

.innerspacer-xs-40 {
    padding: 40px !important;
}
.innerspacer-xs-top-40 {
    padding-top: 40px !important;
}
.innerspacer-xs-bottom-40 {
    padding-bottom: 40px !important;
}
.innerspacer-xs-left-40 {
    padding-left: 40px !important;
}
.innerspacer-xs-right-40 {
    padding-right: 40px !important;
}
/****************** sm ******************/

@media (min-width: 768px) {
    /*margin 0*/
    .spacer-sm-0 {
        margin: 0 !important;
    }
    .spacer-sm-top-0 {
        margin-top: 0 !important;
    }
    .spacer-sm-bottom-0 {
        margin-bottom: 0 !important;
    }
    .spacer-sm-left-0 {
        margin-left: 0 !important;
    }
    .spacer-sm-right-0 {
        margin-right: 0 !important;
    }
    /*margin 05*/
    .spacer-sm-05 {
        margin: 5px !important;
    }
    .spacer-sm-top-05 {
        margin-top: 5px !important;
    }
    .spacer-sm-bottom-05 {
        margin-bottom: 5px !important;
    }
    .spacer-sm-left-05 {
        margin-left: 5px !important;
    }
    .spacer-sm-right-05 {
        margin-right: 5px !important;
    }
    /*margin 10*/
    .spacer-sm-10 {
        margin: 10px !important;
    }
    .spacer-sm-top-10 {
        margin-top: 10px !important;
    }
    .spacer-sm-bottom-10 {
        margin-bottom: 10px !important;
    }
    .spacer-sm-left-10 {
        margin-left: 10px !important;
    }
    .spacer-sm-right-10 {
        margin-right: 10px !important;
    }
    /*margin 15*/
    .spacer-sm-15 {
        margin: 15px !important;
    }
    .spacer-sm-top-15 {
        margin-top: 15px !important;
    }
    .spacer-sm-bottom-15 {
        margin-bottom: 15px !important;
    }
    .spacer-sm-left-15 {
        margin-left: 15px !important;
    }
    .spacer-sm-right-15 {
        margin-right: 15px !important;
    }
    /*margin 20*/
    .spacer-sm-20 {
        margin: 20px !important;
    }
    .spacer-sm-top-20 {
        margin-top: 20px !important;
    }
    .spacer-sm-bottom-20 {
        margin-bottom: 20px !important;
    }
    .spacer-sm-left-20 {
        margin-left: 20px !important;
    }
    .spacer-sm-right-20 {
        margin-right: 20px !important;
    }
    /*margin 25*/
    .spacer-sm-25 {
        margin: 25px !important;
    }
    .spacer-sm-top-25 {
        margin-top: 25px !important;
    }
    .spacer-sm-bottom-25 {
        margin-bottom: 25px !important;
    }
    .spacer-sm-left-25 {
        margin-left: 25px !important;
    }
    .spacer-sm-right-25 {
        margin-right: 25px !important;
    }
    /*margin 30*/
    .spacer-sm-30 {
        margin: 30px !important;
    }
    .spacer-sm-top-30 {
        margin-top: 30px !important;
    }
    .spacer-sm-bottom-30 {
        margin-bottom: 30px !important;
    }
    .spacer-sm-left-30 {
        margin-left: 30px !important;
    }
    .spacer-sm-right-30 {
        margin-right: 30px !important;
    }
    /*margin 40*/
    .spacer-sm-40 {
        margin: 40px !important;
    }
    .spacer-sm-top-40 {
        margin-top: 40px !important;
    }
    .spacer-sm-bottom-40 {
        margin-bottom: 40px !important;
    }
    .spacer-sm-left-40 {
        margin-left: 40px !important;
    }
    .spacer-sm-right-40 {
        margin-right: 40px !important;
    }
    /*padding 0*/
    .innerspacer-sm-0 {
        padding: 0 !important;
    }
    .innerspacer-sm-top-0 {
        padding-top: 0 !important;
    }
    .innerspacer-sm-bottom-0 {
        padding-bottom: 0 !important;
    }
    .innerspacer-sm-left-0 {
        padding-left: 0 !important;
    }
    .innerspacer-sm-right-0 {
        padding-right: 0 !important;
    }
    /*padding 05*/
    .innerspacer-sm-05 {
        padding: 5px !important;
    }
    .innerspacer-sm-top-05 {
        padding-top: 5px !important;
    }
    .innerspacer-sm-bottom-05 {
        padding-bottom: 5px !important;
    }
    .innerspacer-sm-left-05 {
        padding-left: 5px !important;
    }
    .innerspacer-sm-right-05 {
        padding-right: 5px !important;
    }
    /*padding 10*/
    .innerspacer-sm-10 {
        padding: 10px !important;
    }
    .innerspacer-sm-top-10 {
        padding-top: 10px !important;
    }
    .innerspacer-sm-bottom-10 {
        padding-bottom: 10px !important;
    }
    .innerspacer-sm-left-10 {
        padding-left: 10px !important;
    }
    .innerspacer-sm-right-10 {
        padding-right: 10px !important;
    }
    /*padding 15*/
    .innerspacer-sm-15 {
        padding: 15px !important;
    }
    .innerspacer-sm-top-15 {
        padding-top: 15px !important;
    }
    .innerspacer-sm-bottom-15 {
        padding-bottom: 15px !important;
    }
    .innerspacer-sm-left-15 {
        padding-left: 15px !important;
    }
    .innerspacer-sm-right-15 {
        padding-right: 15px !important;
    }
    /*padding 20*/
    .innerspacer-sm-20 {
        padding: 20px !important;
    }
    .innerspacer-sm-top-20 {
        padding-top: 20px !important;
    }
    .innerspacer-sm-bottom-20 {
        padding-bottom: 20px !important;
    }
    .innerspacer-sm-left-20 {
        padding-left: 20px !important;
    }
    .innerspacer-sm-right-20 {
        padding-right: 20px !important;
    }
    /*padding 25*/
    .innerspacer-sm-25 {
        padding: 25px !important;
    }
    .innerspacer-sm-top-25 {
        padding-top: 25px !important;
    }
    .innerspacer-sm-bottom-25 {
        padding-bottom: 25px !important;
    }
    .innerspacer-sm-left-25 {
        padding-left: 25px !important;
    }
    .innerspacer-sm-right-25 {
        padding-right: 25px !important;
    }
    /*padding 30*/
    .innerspacer-sm-30 {
        padding: 30px !important;
    }
    .innerspacer-sm-top-30 {
        padding-top: 30px !important;
    }
    .innerspacer-sm-bottom-30 {
        padding-bottom: 30px !important;
    }
    .innerspacer-sm-left-30 {
        padding-left: 30px !important;
    }
    .innerspacer-sm-right-30 {
        padding-right: 30px !important;
    }
    /*padding 40*/
    .innerspacer-sm-40 {
        padding: 40px !important;
    }
    .innerspacer-sm-top-40 {
        padding-top: 40px !important;
    }
    .innerspacer-sm-bottom-40 {
        padding-bottom: 40px !important;
    }
    .innerspacer-sm-left-40 {
        padding-left: 40px !important;
    }
    .innerspacer-sm-right-40 {
        padding-right: 40px !important;
    }
}
/****************** md ******************/

@media (min-width: 992px) {

    /*margin 0*/
    .spacer-md-0 {
        margin: 0 !important;
    }
    .spacer-md-top-0 {
        margin-top: 0 !important;
    }
    .spacer-md-bottom-0 {
        margin-bottom: 0 !important;
    }
    .spacer-md-left-0 {
        margin-left: 0 !important;
    }
    .spacer-md-right-0 {
        margin-right: 0 !important;
    }
    /*margin 05*/
    .spacer-md-05 {
        margin: 5px !important;
    }
    .spacer-md-top-05 {
        margin-top: 5px !important;
    }
    .spacer-md-bottom-05 {
        margin-bottom: 5px !important;
    }
    .spacer-md-left-05 {
        margin-left: 5px !important;
    }
    .spacer-md-right-05 {
        margin-right: 5px !important;
    }
    /*margin 10*/
    .spacer-md-10 {
        margin: 10px !important;
    }
    .spacer-md-top-10 {
        margin-top: 10px !important;
    }
    .spacer-md-bottom-10 {
        margin-bottom: 10px !important;
    }
    .spacer-md-left-10 {
        margin-left: 10px !important;
    }
    .spacer-md-right-10 {
        margin-right: 10px !important;
    }
    /*margin 15*/
    .spacer-md-15 {
        margin: 15px !important;
    }
    .spacer-md-top-15 {
        margin-top: 15px !important;
    }
    .spacer-md-bottom-15 {
        margin-bottom: 15px !important;
    }
    .spacer-md-left-15 {
        margin-left: 15px !important;
    }
    .spacer-md-right-15 {
        margin-right: 15px !important;
    }
    /*margin 20*/
    .spacer-md-20 {
        margin: 20px !important;
    }
    .spacer-md-top-20 {
        margin-top: 20px !important;
    }
    .spacer-md-bottom-20 {
        margin-bottom: 20px !important;
    }
    .spacer-md-left-20 {
        margin-left: 20px !important;
    }
    .spacer-md-right-20 {
        margin-right: 20px !important;
    }
    /*margin 25*/
    .spacer-md-25 {
        margin: 25px !important;
    }
    .spacer-md-top-25 {
        margin-top: 25px !important;
    }
    .spacer-md-bottom-25 {
        margin-bottom: 25px !important;
    }
    .spacer-md-left-25 {
        margin-left: 25px !important;
    }
    .spacer-md-right-25 {
        margin-right: 25px !important;
    }
    /*margin 30*/
    .spacer-md-30 {
        margin: 30px !important;
    }
    .spacer-md-top-30 {
        margin-top: 30px !important;
    }
    .spacer-md-bottom-30 {
        margin-bottom: 30px !important;
    }
    .spacer-md-left-30 {
        margin-left: 30px !important;
    }
    .spacer-md-right-30 {
        margin-right: 30px !important;
    }
    /*margin 40*/
    .spacer-md-40 {
        margin: 40px !important;
    }
    .spacer-md-top-40 {
        margin-top: 40px !important;
    }
    .spacer-md-bottom-40 {
        margin-bottom: 40px !important;
    }
    .spacer-md-left-40 {
        margin-left: 40px !important;
    }
    .spacer-md-right-40 {
        margin-right: 40px !important;
    }
    /*padding 0*/
    .innerspacer-md-0 {
        padding: 0 !important;
    }
    .innerspacer-md-top-0 {
        padding-top: 0 !important;
    }
    .innerspacer-md-bottom-0 {
        padding-bottom: 0 !important;
    }
    .innerspacer-md-left-0 {
        padding-left: 0 !important;
    }
    .innerspacer-md-right-0 {
        padding-right: 0 !important;
    }
    /*padding 05*/
    .innerspacer-md-05 {
        padding: 5px !important;
    }
    .innerspacer-md-top-05 {
        padding-top: 5px !important;
    }
    .innerspacer-md-bottom-05 {
        padding-bottom: 5px !important;
    }
    .innerspacer-md-left-05 {
        padding-left: 5px !important;
    }
    .innerspacer-md-right-05 {
        padding-right: 5px !important;
    }
    /*padding 10*/
    .innerspacer-md-10 {
        padding: 10px !important;
    }
    .innerspacer-md-top-10 {
        padding-top: 10px !important;
    }
    .innerspacer-md-bottom-10 {
        padding-bottom: 10px !important;
    }
    .innerspacer-md-left-10 {
        padding-left: 10px !important;
    }
    .innerspacer-md-right-10 {
        padding-right: 10px !important;
    }
    /*padding 15*/
    .innerspacer-md-15 {
        padding: 15px !important;
    }
    .innerspacer-md-top-15 {
        padding-top: 15px !important;
    }
    .innerspacer-md-bottom-15 {
        padding-bottom: 15px !important;
    }
    .innerspacer-md-left-15 {
        padding-left: 15px !important;
    }
    .innerspacer-md-right-15 {
        padding-right: 15px !important;
    }
    /*padding 20*/
    .innerspacer-md-20 {
        padding: 20px !important;
    }
    .innerspacer-md-top-20 {
        padding-top: 20px !important;
    }
    .innerspacer-md-bottom-20 {
        padding-bottom: 20px !important;
    }
    .innerspacer-md-left-20 {
        padding-left: 20px !important;
    }
    .innerspacer-md-right-20 {
        padding-right: 20px !important;
    }
    /*padding 25*/
    .innerspacer-md-25 {
        padding: 25px !important;
    }
    .innerspacer-md-top-25 {
        padding-top: 25px !important;
    }
    .innerspacer-md-bottom-25 {
        padding-bottom: 25px !important;
    }
    .innerspacer-md-left-25 {
        padding-left: 25px !important;
    }
    .innerspacer-md-right-25 {
        padding-right: 25px !important;
    }
    /*padding 30*/
    .innerspacer-md-30 {
        padding: 30px !important;
    }
    .innerspacer-md-top-30 {
        padding-top: 30px !important;
    }
    .innerspacer-md-bottom-30 {
        padding-bottom: 30px !important;
    }
    .innerspacer-md-left-30 {
        padding-left: 30px !important;
    }
    .innerspacer-md-right-30 {
        padding-right: 30px !important;
    }
    /*padding 40*/
    .innerspacer-md-30 {
        padding: 40px !important;
    }
    .innerspacer-md-top-40 {
        padding-top: 40px !important;
    }
    .innerspacer-md-bottom-40 {
        padding-bottom: 40px !important;
    }
    .innerspacer-md-left-40 {
        padding-left: 40px !important;
    }
    .innerspacer-md-right-40 {
        padding-right: 40px !important;
    }
}
/****************** lg ******************/

@media (min-width: 1200px) {

    /*margin 0*/
    .spacer-lg-0 {
        margin: 0 !important;
    }
    .spacer-lg-top-0 {
        margin-top: 0 !important;
    }
    .spacer-lg-bottom-0 {
        margin-bottom: 0 !important;
    }
    .spacer-lg-left-0 {
        margin-left: 0 !important;
    }
    .spacer-lg-right-0 {
        margin-right: 0 !important;
    }
    /*margin 05*/
    .spacer-lg-05 {
        margin: 5px !important;
    }
    .spacer-lg-top-05 {
        margin-top: 5px !important;
    }
    .spacer-lg-bottom-05 {
        margin-bottom: 5px !important;
    }
    .spacer-lg-left-05 {
        margin-left: 5px !important;
    }
    .spacer-lg-right-05 {
        margin-right: 5px !important;
    }
    /*margin 10*/
    .spacer-lg-10 {
        margin: 10px !important;
    }
    .spacer-lg-top-10 {
        margin-top: 10px !important;
    }
    .spacer-lg-bottom-10 {
        margin-bottom: 10px !important;
    }
    .spacer-lg-left-10 {
        margin-left: 10px !important;
    }
    .spacer-lg-right-10 {
        margin-right: 10px !important;
    }
    /*margin 15*/
    .spacer-lg-15 {
        margin: 15px !important;
    }
    .spacer-lg-top-15 {
        margin-top: 15px !important;
    }
    .spacer-lg-bottom-15 {
        margin-bottom: 15px !important;
    }
    .spacer-lg-left-15 {
        margin-left: 15px !important;
    }
    .spacer-lg-right-15 {
        margin-right: 15px !important;
    }
    /*margin 20*/
    .spacer-lg-20 {
        margin: 20px !important;
    }
    .spacer-lg-top-20 {
        margin-top: 20px !important;
    }
    .spacer-lg-bottom-20 {
        margin-bottom: 20px !important;
    }
    .spacer-lg-left-20 {
        margin-left: 20px !important;
    }
    .spacer-lg-right-20 {
        margin-right: 20px !important;
    }
    /*margin 25*/
    .spacer-lg-25 {
        margin: 25px !important;
    }
    .spacer-lg-top-25 {
        margin-top: 25px !important;
    }
    .spacer-lg-bottom-25 {
        margin-bottom: 25px !important;
    }
    .spacer-lg-left-25 {
        margin-left: 25px !important;
    }
    .spacer-lg-right-25 {
        margin-right: 25px !important;
    }
    /*margin 30*/
    .spacer-lg-30 {
        margin: 30px !important;
    }
    .spacer-lg-top-30 {
        margin-top: 30px !important;
    }
    .spacer-lg-bottom-30 {
        margin-bottom: 30px !important;
    }
    .spacer-lg-left-30 {
        margin-left: 30px !important;
    }
    .spacer-lg-right-30 {
        margin-right: 30px !important;
    }
    /*margin 40*/
    .spacer-lg-40 {
        margin: 40px !important;
    }
    .spacer-lg-top-40 {
        margin-top: 40px !important;
    }
    .spacer-lg-bottom-40 {
        margin-bottom: 40px !important;
    }
    .spacer-lg-left-40 {
        margin-left: 40px !important;
    }
    .spacer-lg-right-40 {
        margin-right: 40px !important;
    }
    /*padding 0*/
    .innerspacer-lg-0 {
        padding: 0 !important;
    }
    .innerspacer-lg-top-0 {
        padding-top: 0 !important;
    }
    .innerspacer-lg-bottom-0 {
        padding-bottom: 0 !important;
    }
    .innerspacer-lg-left-0 {
        padding-left: 0 !important;
    }
    .innerspacer-lg-right-0 {
        padding-right: 0 !important;
    }
    /*padding 05*/
    .innerspacer-lg-05 {
        padding: 5px !important;
    }
    .innerspacer-lg-top-05 {
        padding-top: 5px !important;
    }
    .innerspacer-lg-bottom-05 {
        padding-bottom: 5px !important;
    }
    .innerspacer-lg-left-05 {
        padding-left: 5px !important;
    }
    .innerspacer-lg-right-05 {
        padding-right: 5px !important;
    }
    /*padding 10*/
    .innerspacer-lg-10 {
        padding: 10px !important;
    }
    .innerspacer-lg-top-10 {
        padding-top: 10px !important;
    }
    .innerspacer-lg-bottom-10 {
        padding-bottom: 10px !important;
    }
    .innerspacer-lg-left-10 {
        padding-left: 10px !important;
    }
    .innerspacer-lg-right-10 {
        padding-right: 10px !important;
    }
    /*padding 15*/
    .innerspacer-lg-15 {
        padding: 15px !important;
    }
    .innerspacer-lg-top-15 {
        padding-top: 15px !important;
    }
    .innerspacer-lg-bottom-15 {
        padding-bottom: 15px !important;
    }
    .innerspacer-lg-left-15 {
        padding-left: 15px !important;
    }
    .innerspacer-lg-right-15 {
        padding-right: 15px !important;
    }
    /*padding 20*/
    .innerspacer-lg-20 {
        padding: 20px !important;
    }
    .innerspacer-lg-top-20 {
        padding-top: 20px !important;
    }
    .innerspacer-lg-bottom-20 {
        padding-bottom: 20px !important;
    }
    .innerspacer-lg-left-20 {
        padding-left: 20px !important;
    }
    .innerspacer-lg-right-20 {
        padding-right: 20px !important;
    }
    /*padding 25*/
    .innerspacer-lg-25 {
        padding: 25px !important;
    }
    .innerspacer-lg-top-25 {
        padding-top: 25px !important;
    }
    .innerspacer-lg-bottom-25 {
        padding-bottom: 25px !important;
    }
    .innerspacer-lg-left-25 {
        padding-left: 25px !important;
    }
    .innerspacer-lg-right-25 {
        padding-right: 25px !important;
    }
    /*padding 30*/
    .innerspacer-lg-30 {
        padding: 30px !important;
    }
    .innerspacer-lg-top-30 {
        padding-top: 30px !important;
    }
    .innerspacer-lg-bottom-30 {
        padding-bottom: 30px !important;
    }
    .innerspacer-lg-left-30 {
        padding-left: 30px !important;
    }
    .innerspacer-lg-right-30 {
        padding-right: 30px !important;
    }
    /*padding 40*/
    .innerspacer-lg-40 {
        padding: 40px !important;
    }
    .innerspacer-lg-top-40 {
        padding-top: 40px !important;
    }
    .innerspacer-lg-bottom-40 {
        padding-bottom: 40px !important;
    }
    .innerspacer-lg-left-40 {
        padding-left: 40px !important;
    }
    .innerspacer-lg-right-40 {
        padding-right: 40px !important;
    }
}