<style type="text/css">
   .daterangepicker-control {min-width: 126px !important;}
</style>

<form class="form-inline" novalidate>

   <div class="form-group" ng-class="{'has-error': datepickerError}">

      <label style="width: 50px">Da</label>

      <div class="input-group row" style="padding:0;">

         <div class="col-md-3">
            <select ng-model="dayFrom"
                    ng-options="d.key as d.value for d in daysFrom" 
                    ng-change="rebindFrom()" 
                    class="form-control form-dropdown daterangepicker-control">
            </select>
         </div>

         <div class="col-md-1 text-right" style="padding: 6px 0 0 0;">
            <labeL>&sol;</label>
         </div>

         <div class="col-md-3">
            <select ng-model="monthFrom" 
                    ng-options="m.key as m.value for m in months" 
                    ng-change="changeFrom()"
                    class="form-control form-dropdown daterangepicker-control">
            </select>
         </div>

         <div class="col-md-1 text-right" style="padding: 6px 0 0 0;">
            <labeL>&sol;</label>
         </div>

         <div class="col-md-3">
            <select ng-model="yearFrom" 
                    ng-options="y.key as y.value for y in years" 
                    ng-change="changeFrom()"
                    class="form-control form-dropdown daterangepicker-control">
            </select>
         </div>

      </div>
   </div>

   <div class="form-group" ng-class="{'has-error': datepickerError}">

      <label style="width: 50px">A</label>

      <div class="input-group row" style="padding:0;">

         <div class="col-md-3">
            <select ng-model="dayTo" 
                    ng-options="d.key as d.value for d in daysTo" 
                    ng-change="rebindTo()" 
                    class="form-control form-dropdown daterangepicker-control">
            </select>
         </div>

         <div class="col-md-1 text-right" style="padding: 6px 0 0 0;">
            <labeL>&sol;</label>
         </div>

         <div class="col-md-3">
            <select ng-model="monthTo" 
                    ng-options="m.key as m.value for m in months" 
                    ng-change="changeTo()"
                    class="form-control form-dropdown daterangepicker-control">
            </select>
         </div>

         <div class="col-md-1 text-right" style="padding: 6px 0 0 0;">
            <labeL>&sol;</label>
         </div>

         <div class="col-md-3">
            <select ng-model="yearTo" 
                    ng-options="y.key as y.value for y in years" 
                    ng-change="changeTo()"
                    class="form-control form-dropdown daterangepicker-control">
            </select>
         </div>

      </div>
   </div>

</form>